
.screenshot-main{
    width: 75%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, #b0e0e625, #20b2ab05);
    border-radius: 1rem .2rem .5rem .1rem;
    border-top: .25rem solid #fcfcfc;
    box-shadow: 0 .1rem 1.5rem #40e0d046;
    padding: 1rem .9rem 1rem .9rem;
}

.thumb{
    width:95%;
    height: 95%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: .5rem .2rem 1rem .2rem;
    border: .2rem solid #e8f6fa;
    filter: grayscale(.45);
}

@media only screen and (max-width: 1024px) {
    .screenshot-main{
        height: 50vh;
        border-top: .15rem solid #fcfcfc;
        box-shadow: 0 .1rem 1rem #40e0d046;
    }
    
    .thumb{
        border-radius: .25rem .1rem .5rem .1rem;
    } 
}

@media only screen and (max-width: 800px) {
    .screenshot-main{
        height: 50vh;
        border-top: .15rem solid #fcfcfc;
        box-shadow: 0 .1rem .5rem #40e0d046;
    }
    
    .thumb{
        border-radius: .25rem .1rem .5rem .1rem;
    } 
}