@keyframes floatSlightlyNoBlur {
    0% {
        top: 0;
        left: .1rem;
    }
    50% {
        top: -1.0rem;
        left: -.1rem;
    }
    100% {
        top: 0;
        left: 0;
    }
}

:root {
    --code-splash-color: #0a061a;
    --code-splash-shadow: #40e0d086;
    --code-splash-shadow-fn: 0 .1rem 1rem var(--code-splash-shadow);
    --code-splash-font: 'Julius Sans One', sans-serif;
    --code-splash-font-size: 8rem;
    --code-splash-padding: 2.5rem;
    --code-splash-border: .15rem solid #fcfcfc;
}

.code-cutscene-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 5rem 0 5rem 0;
    min-height: 100vh;
}

.code-cutscene-projects {
    position: relative;
    animation: floatSlightlyNoBlur 2.75s ease-in-out 3s infinite normal forwards;
}

.code-cutscene-projects_p {
    font-family: var(--code-splash-font);
    font-size: var(--code-splash-font-size);
    color: var(--code-splash-color);
    text-shadow: var(--code-splash-shadow-fn);
    border-bottom: var(--code-splash-border);
    padding-bottom: var(--code-splash-padding);
    border-radius: 1rem;
    user-select: none;
}

@media only screen and (max-width:1024px) {
    :root {
        --code-splash-shadow-fn: 0 .1rem .75rem var(--code-splash-shadow);
        --code-splash-font-size: 5rem;
        --code-splash-padding: 2rem;
    }

    .code-cutscene-main {
        margin: 2.5rem 0 2.5rem 0;
    }
}

@media only screen and (max-width:600px) {
    :root {
        --code-splash-shadow-fn: 0 .1rem .5rem var(--code-splash-shadow);
        --code-splash-font-size: 2.5rem;
        --code-splash-padding: 1rem;
    }

    .code-cutscene-main {
        margin: 1rem 0 1rem 0;
    }
}