.media-fab-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 128px;
    min-height: 128px;
    margin: 0 2rem 0 2rem;
    font-size: 3.0rem;
    background-image: linear-gradient(to bottom, #20b2ab5d, #b0e0e63b);
    color: snow;
    text-shadow: 0rem .1rem .5rem #5295d85d;
    border-radius: 50%;
    border-top: .15rem solid #fcfcfc;
    border-bottom: .05rem solid #afeeeeb2;
    box-shadow: 0 .1rem 1rem #40e0d065;
}

.social-media-link{
    text-decoration: none;
    color: snow;
}

@media only screen and (max-width: 1024px){
    .media-fab-main{
        min-width: 100px;
        min-height: 100px;
        margin: 0 1.5rem 0 1.5rem;
        font-size: 2.5rem;
        box-shadow: 0 .1rem .9rem #40e0d065;
    }
}

@media only screen and (max-width: 800px){
    .media-fab-main{
        min-width: 84px;
        min-height: 84px;
        margin: 1rem 0 1rem 0;
        font-size: 2rem;
        box-shadow: 0 .1rem .9rem #40e0d065;
    }
}