@keyframes flyInFromBottom{
    0% {top: 5rem ; opacity: 0; border-top-width: 0; filter:blur(2px);}
    100% {top: 0 ; opacity: 1; border-top-width: .5rem; filter: blur(0px);}
}

.outro-main{
    padding: 0;
    margin: 10rem 0 0 0;
    min-height: 85vh;
    min-width: 85vw;
    background-image: linear-gradient(to bottom, #b0e0e625, #20b2ab52);
    border-radius: 3rem 3rem 0 0;
    border-top: .25rem solid #fcfcfc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.outro-inner{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    animation: flyInFromBottom 1s ease-in-out .1s 1 normal both running;
}

.outro-connect{
    margin-bottom: 1rem;
}

.outro-connect_p{
    font-size: 2.5rem;
    font-family: 'Julius Sans One', sans-serif;
    color: ghostwhite;
    text-shadow: 0 .1rem .5rem #20b2ab6e;
    letter-spacing: .35rem;
}