.artshowcase-main{
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(1ft, 1ft));
    grid-template-columns: repeat(auto-fill, minmax(1ft, 1ft));
    grid-gap: 0.5rem;
}

.quoteflags{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 256px;
    width: 256px;
    background-image: linear-gradient(to bottom, lavender, papayawhip);
    border: .75rem solid ivory;
    border-radius: .25rem;
}

.quote0{
    grid-column: 2/span 1;
    grid-row: 2/span 1;
}

.quote1{
    grid-column: 4/span 1;
    grid-row: 3/span 1;
}

.quote2{
    grid-column: 1/span 1;
    grid-row: 4/span 2;
    width: 256px;
    height: calc(512px + 2rem);
}

.quote3{
    grid-column: 3/span 2;
    grid-row: 6/span 2;
    width: calc(512px + 2rem);
    height: calc(512px + 2rem);
}

.quote4{
    grid-column: 4/span 1;
    grid-row: 8/span 1;
}

.quote5{
    grid-column: 1/span 1;
    grid-row: 9/span 1;
}

.quote6{
    grid-column: 1/span 4;
    grid-row: 10/span 2;
    width: calc(1024px + 6rem);
    height: calc(512px + 2rem);
}

.quote7{
    grid-column: 4/span 1;
    grid-row: 12/span 1;
}

.cellflags{
    height: 256px;
    width: 256px;
    background-image: url("");
    background-size: contain;
    background-repeat: no-repeat;
    border: .75rem solid snow;
    box-shadow: 0 .1rem 1.5rem #03002546;
    border-radius: .25rem;
}

/* The path */
.cell0{
    grid-column: 1/ span 1;
    grid-row: 1/ span 1;
}

/* An ocean between us */
.cell1-1{
    grid-column: 2/ span 1;
    grid-row: 1/ span 1;
}

.cell1-2{
    grid-column: 3/ span 1;
    grid-row: 1/ span 1;
}

.cell1-3{
    grid-column: 4/ span 1;
    grid-row: 1/ span 1;
}

/* The storm */
.cell2{
    grid-column: 1/ span 1;
    grid-row: 2/ span 1;
}

/* Christmas pleas */
.cell3-1{
    grid-column: 3/ span 1;
    grid-row: 2/ span 1;
    background-size: 100%;
}

.cell3-2{
    grid-column: 4/ span 1;
    grid-row: 2/ span 1;
    background-size: 100%;
}

/* Live free, die well */
.cell4-1{
    grid-column: 1/ span 1;
    grid-row: 3/ span 1;
}

.cell4-2{
    grid-column: 2/ span 1;
    grid-row: 3/ span 1;
}

.cell4-3{
    grid-column: 3/ span 1;
    grid-row: 3/ span 1;
}

/* Heart of courge */
.cell5-1{
    grid-column: 2/ span 1;
    grid-row: 4/ span 1;
}

.cell5-2{
    grid-column: 3/ span 1;
    grid-row: 4/ span 1;
}

.cell5-3{
    grid-column: 4/ span 1;
    grid-row: 4/ span 1;
}

/* Champaign in my lungs */
.cell6-1{
    grid-column: 2/ span 1;
    grid-row: 5/ span 1;
}

.cell6-2{
    grid-column: 3/ span 1;
    grid-row: 5/ span 1;
}

.cell-6-3{
    grid-column: 4/ span 1;
    grid-row: 5/ span 1;
}

/* Black forest */
.cell7{
    grid-column: 1/span 2;
    grid-row: 6/ span 2;
    width: calc(512px + 2rem);
    height: calc(512px + 2rem);
    background-attachment: fixed;
    background-size: 701px 922.8px;
}

/* Mystic lands */
.cell8-1{
    grid-column: 1/span 1;
    grid-row: 8/ span 1;
}

.cell8-2{
    grid-column: 2/span 1;
    grid-row: 8/ span 1;
}

.cell8-3{
    grid-column: 3/span 1;
    grid-row: 8/ span 1;
}

/* A Charmed life */
.cell9-1{
    grid-column: 2/span 1;
    grid-row: 9/ span 1;
}

.cell9-2{
    grid-column: 3/span 1;
    grid-row: 9/ span 1;
}

.cell9-3{
    grid-column: 4/span 1;
    grid-row: 9/ span 1;
}

/* Chasing horizons */

.cell10-1{
    grid-column: 1/ span 1;
    grid-row: 12/span 1;
}

.cell10-2{
    grid-column: 2/ span 1;
    grid-row: 12/span 1;
}

.cell10-3{
    grid-column: 3/ span 1;
    grid-row: 12/span 1;
}