:root {
    --art-splash-color: #0a061a;
    --art-splash-shadow: #40e0d086;
    --art-splash-shadow-fn: 0 .1rem 1rem var(--art-splash-shadow);
    --art-splash-font: 'Julius Sans One', sans-serif;
    --art-splash-font-size: 8rem;
    --art-splash-padding: 3.5rem;
}

.art-cutscene-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 5rem 0 5rem 0;
    min-height: 100vh;
}

.art-cutscene-artwork {
    position: relative;
    animation: floatSlightlyNoBlur 2.75s ease-in-out 3s infinite normal forwards;
}

.art-cutscene-artwork_p {
    font-family: var(--art-splash-font);
    font-size: var(--art-splash-font-size);
    padding-left: var(--art-splash-padding);
    color: var(--art-splash-color);
    text-shadow: var(--art-splash-shadow-fn);
    user-select: none;
}


@media only screen and (max-width:1024px) {
    :root {
        --art-splash-shadow-fn: 0 .1rem .75rem var(--art-splash-shadow);
        --art-splash-font-size: 5rem;
        --art-splash-padding: 0;
    }

    .art-cutscene-main {
        margin: 2.5rem 0 2.5rem 0;
    }
}

@media only screen and (max-width:600px) {
    :root {
        --art-splash-shadow-fn: 0 .1rem .5rem var(--art-splash-shadow);
        --art-splash-font-size: 2.5rem;
        --art-splash-padding: 0;
    }

    .art-cutscene-main {
        margin: 1rem 0 1rem 0;
    }
}